{% from "enclosure_macros.jinja2" import checkbox_control_group, radio_control_group, select_control_group, text_control_group %}
<h4>{{ _("Raspberry Pi Outputs") }}</h4>
<p>
    Configure all
    <strong>outputs</strong>. Outputs can be everything that performs actions based on UI button presses, or automatic events or alarms.
</p>
<p>Example of possible outputs are GPIO pins, neopixel LED's, temperature control or sending gcode to the printer.</p>
<form class="form-horizontal">
    <div data-bind="foreach: settingsViewModel.settings.plugins.enclosure.rpi_outputs">
        <!--
            <div class="controls">
                <h5>IO <span data-bind="text: $index"> </span></h5>
            </div>
        -->
        {{ radio_control_group("output_type", _("Output Type"), [
            ("regular", _("Regular IO")),
            ("pwm", _("PWM")),
            ("neopixel_indirect", _("NeoPixel Indirect")),
            ("neopixel_direct", _("NeoPixel Direct")),
            ("ledstrip", _("RGB LED Strip")),
            ("temp_hum_control", _("Temperature / Humidity Control")),
            ("temperature_alarm", _("Temperature Alarm")),
            ("gcode_output", _("Gcode")),
            ("shell_output", _("Shell Script")),
        ]) }}
        <div data-bind="if: output_type() != 'temperature_alarm'">
            {{ text_control_group("label", _("Label"), "Name displayed on Enclosure Tab") }}
        </div>
        {{ text_control_group("index_id", _("Id"), "Id used for API control", disabled=true) }}
        <div data-bind="if: output_type() == 'shell_output'">
            {{ text_control_group("shell_script", _("Script"), "Shell script to be executed") }}
        </div>
        <div data-bind="ifnot: output_type() == 'gcode_output' || output_type() == 'temperature_alarm' || output_type() == 'shell_output' || output_type() == 'ledstrip' || (output_type() == 'regular' && gpio_i2c_enabled())">
            {% call text_control_group("gpio_pin", _("IO Number")) %}
                <span class="help-inline"
                      data-bind="visible: output_type() != 'neopixel_indirect'">GPIO number that will be controlled.</span>
                <span class="help-inline"
                      data-bind="visible: output_type() == 'neopixel_indirect'">
                    <span class="label label-important">Attention</span> Neopixel requires a microcontroller (ex: arduino)
                    connected to I2C bus. This is the pin on the
                    microcontroller that is connected to the Neopixel.
                </span>
            {% endcall %}
        </div>
        <div data-bind="if: output_type() == 'pwm'">
            {{ checkbox_control_group("pwm_temperature_linked", _("Link PWM to Temperature"), "Link PWM output to temperature. PWM output will be interpolated between the point from duty A, temperature A -> duty B, temperature B. This output will automatically start when a print starts and will default to the default duty cycle when print is complete.") }}
        </div>
        <div data-bind="if: output_type() == 'pwm' && pwm_temperature_linked()">
            {{ text_control_group("duty_a", _("Duty A")) }}
            {{ text_control_group("temperature_a", _("Temperature A")) }}
            {{ text_control_group("duty_b", _("Duty B")) }}
            {{ text_control_group("temperature_b", _("Temperature B")) }}
        </div>
        <div data-bind="if: output_type() == 'regular' || (output_type() == 'pwm' && !pwm_temperature_linked())">
            {{ checkbox_control_group("toggle_timer", _("Timer Toggle"), "Toggle output every amount of seconds. It will start when the print starts and stop when print is complete. For PWM pins it will use the default PWM value when ON.") }}
            <div data-bind="if: toggle_timer()">
                {{ text_control_group("toggle_timer_on", _("On Time"), "Time in seconds that the GPIO will remain ON") }}
                {{ text_control_group("toggle_timer_off", _("Off Time"), "Time in seconds that the GPIO will remain when OFF") }}
            </div>
        </div>
        <div data-bind="ifnot: (output_type() == 'regular' || output_type() == 'pwm') && toggle_timer()">
            <div data-bind="ifnot: output_type() == 'gcode_output' || output_type() == 'temperature_alarm' || output_type() == 'shell_output'">
                <div data-bind="ifnot: output_type() == 'pwm' && pwm_temperature_linked()">
                    {{ checkbox_control_group("startup_with_server", _("Start with server"), "Choose if output should turn on automatically when octoprint starts") }}
                    {{ checkbox_control_group("auto_startup", _("Auto Startup"), "Choose if output should turn on automatically when print starts") }}
                </div>
                <div data-bind="if: $data.auto_startup">
                    {{ text_control_group("startup_time", _("Startup Delay / Hour"), "Time delay in seconds to turn on GPIO when print starts OR exact time that the event should happen, note that events will only be scheduled after a print starts, time should be formatted as HH:MM on a 24 hours format, don't forget to check timezone of your Raspberry Pi.") }}
                </div>
            </div>
            <div data-bind="ifnot: output_type() == 'gcode_output' || output_type() == 'temperature_alarm' || output_type() == 'shell_output'">
                {{ checkbox_control_group("auto_shutdown", _("Auto Shutdown"), "Choose if output should turn off automatically when print finishes") }}
            </div>
            <div data-bind="if: $data.auto_shutdown">
                {{ checkbox_control_group("shutdown_on_failed", _("Shutdown on Failed or Canceled"), "Choose if output should turn off automatically when print is canceled or fails") }}
                {% call text_control_group("shutdown_time", _("Shutdown Delay / Hour"), "Time delay in seconds to turn off GPIO when print starts OR exact time that the event should happen, note that events will only be scheduled after a print starts, time should be formatted as HH:MM on a 24 hours format, don't forget to check timezone of your raspberry pi.") %}
                    <span class="label label-important">Attention</span>
                    <span> Hour schedule does not work with
                        <b>Link PWM to Temperature</b> option</span>
                {% endcall %}
            </div>
            <div data-bind="ifnot: output_type() == 'gcode_output' || output_type() == 'temperature_alarm' || output_type() == 'shell_output'">
                {{ checkbox_control_group("shutdown_on_error", _("Auto Shutdown on Serial Connection Error"), "Choose if output should turn off automatically when an error or disconnect was detected. Shutdown Delay will be ignored in this case") }}
            </div>
        </div>
        <div data-bind="if: output_type() == 'regular' || output_type() == 'temp_hum_control'">
            {{ checkbox_control_group("active_low", _("Active Low"), "Active low means that the GPIO will turn on when receive a low signal (ground) from Raspberry PI") }}
            {{ checkbox_control_group("gpio_i2c_enabled", _("GPIO over I2C"), "Allows multiple devices to be connected to the same GPIO pins") }}
        </div>
        <div data-bind="if: gpio_i2c_enabled()">
            {{ text_control_group("gpio_i2c_bus", _("I2C Bus"), "This value should remain 1 unless you've used dtoverlay=i2c-gpio or you are using another bus.") }}
            {% call text_control_group("gpio_i2c_address", _("I2C Address")) %}
                <span class="help-inline">I2C address in HEX value, you can find it by running
                    <code>i2cdetect -y 1</code> on your Raspberry Pi</span>
            {% endcall %}
            {{ text_control_group("gpio_i2c_register", _("I2C Register"), "I2C register in HEX value") }}
            {{ text_control_group("gpio_i2c_data_on", _("I2C ON data"), "I2C data to write in HEX value when ON") }}
            {{ text_control_group("gpio_i2c_data_off", _("I2C OFF data"), "I2C data to write in HEX value when OFF") }}
            {{ text_control_group("gpio_i2c_register_status", _("I2C Register (read status)"), "I2C register for reading gpio state in HEX value") }}
        </div>
        <div data-bind="if: output_type() == 'regular' || output_type() == 'gcode_output' || output_type() == 'shell_output' || output_type() == 'ledstrip'">
            {{ checkbox_control_group("hide_btn_ui", _("Hide UI Button"), "If you plan to use a physical button (INPUT) and want to hide the button from enclosure tab check this.") }}
            <div data-bind="ifnot: output_type() == 'ledstrip'">
                {{ checkbox_control_group("show_on_navbar", _("Show Button on Navbar"), "Add shortcut on navbar to toggle output") }}
            </div>
        </div>
        <div data-bind="if: output_type() == 'temperature_alarm' || output_type() == 'temp_hum_control' || (output_type() == 'pwm' && pwm_temperature_linked())">
            <div data-bind="if: temp_ctr_type() == 'heater' || temp_ctr_type() == 'cooler' || (output_type() == 'pwm' && pwm_temperature_linked())">
                {{ select_control_group("linked_temp_sensor", _("Temperature Sensor"), "$root.settings_temperature_sensors", "Temperature sensor responsible for getting the value to be used. Configured on the input side of the plugin.") }}
            </div>
            <div data-bind="if: temp_ctr_type() == 'dehumidifier'">
                {{ select_control_group("linked_temp_sensor", _("Temperature Sensor"), "$root.settings_hum_sensors", "Temperature sensor responsible for getting the value to be used. Configured on the input side of the plugin.") }}
            </div>
        </div>
        <div data-bind="if: output_type() == 'temp_hum_control'">
            {{ radio_control_group("temp_ctr_type", _("Temp Control Type"), [("heater", _("Heater")), ("cooler", _("Cooler")), ("dehumidifier", _("Dehumidifier"))]) }}
            <div data-bind="if: auto_startup() || startup_with_server()">
                {{ text_control_group("temp_ctr_default_value", _("Default Value"), "Default temperature / humidity that temperature control will be set when the print starts or the server starts.") }}
            </div>
            {{ text_control_group("temp_ctr_deadband", _("Value Deadband"), "Allowable drift on temperature / humidity control. Set it to zero to disable.") }}
            <div data-bind="if: temp_ctr_type() == 'heater'">
                {{ text_control_group("temp_ctr_max_temp", _("Maximum Temperature"), "Maximum temperature that the enclosure should reach, if this temperature is hit, the heater will be disabled until it's set temperature is set again.") }}
            </div>
        </div>
        <div data-bind="if: output_type() == 'temperature_alarm'">
            {{ text_control_group("alarm_set_temp", _("Set Temperature"), "Set temperature that will trigger the event") }}
            {{ select_control_group("controlled_io", _("Controlled IO"), "$root.settings_outputs_regular", "When the event happen, you want control which IO?") }}
            {{ select_control_group("controlled_io_set_value", _("Set Controlled IO Value"), [("low", "Low"), ("high", "High")], "When the event happen, you want to turn the controlled IO HIGH or LOW?") }}
        </div>
        <div data-bind="if: output_type() == 'pwm'">
            {{ text_control_group("pwm_frequency", _("PWM Frequency"), "Value is in Hz") }}
            {{ text_control_group("default_duty_cycle", _("Default Duty Cycle"), "Value is in percentage, between 0 and 100") }}
        </div>
        <div data-bind="if: output_type() == 'neopixel_indirect'">
            {% call text_control_group("microcontroller_address", _("Microcontroller Address")) %}
                <span class="help-inline">Microcontroller address in HEX value, you can find it by running
                    <code>i2cdetect -y 1</code> on your Raspberry Pi</span>
            {% endcall %}
        </div>
        <div data-bind="if: output_type() == 'ledstrip'">
            {{ text_control_group("ledstrip_gpio_clk", _("CLK"), "Choose any GPIO pin to provide the Clock signal") }}
            {{ text_control_group("ledstrip_gpio_dat", _("DAT"), "Choose any GPIO pin to provide the Data") }}
            <div class="control-group">
                <label class="control-label">{{ _("Color") }}</label>
                <div class="controls">
                    <input type="color"
                           class="input-block-level"
                           data-bind="rgbColor: default_ledstrip_color">
                </div>
            </div>
        </div>
        <div data-bind="if: output_type() == 'neopixel_indirect' || output_type() == 'neopixel_direct'">
            {{ text_control_group("neopixel_count", _("Number of LEDS"), "Number of led's on strip") }}
            {{ text_control_group("neopixel_brightness", _("Brightness"), "Value between 0 and 255") }}
            <div class="control-group">
                <label class="control-label">{{ _("Default Color") }}</label>
                <div class="controls">
                    <input type="color"
                           class="input-block-level"
                           data-bind="rgbColor: default_neopixel_color">
                </div>
            </div>
        </div>
        <div data-bind="if: output_type() == 'gcode_output'">
            <div class="control-group">
                <label class="control-label">{{ _("Gcode") }}</label>
                <div class="controls">
                    <textarea rows="4" class="block" data-bind="value: gcode"></textarea>
                    <span class="help-inline">GCODE that will be sent to the printer. You should add
                        <code>ENTER</code> on the end of every line sent to the printer</span>
                </div>
            </div>
        </div>
        <div class="control-group">
            <a title="Delete IO"
               class="btn btn-danger pull-right"
               data-bind="click: function() { $parent.removeRpiOutput($data) }">
                <i class="icon-trash"></i>
            </a>
        </div>
        <div class="control-group">
            <div class="controls">
                <hr />
            </div>
        </div>
    </div>
    <div class="control-group">
        <button type="button"
                class="btn pull-right"
                data-bind="click: function() { $root.addRpiOutput(); }">Add Outputs...</button>
    </div>
</form>
<h4>{{ _("Raspberry Pi Inputs") }}</h4>
<p>
    Configure all
    <strong>inputs</strong>. Inputs get data from gpio or connected sensors to provide additional functionality. Inputs can control
    outputs or influence how they behave.
</p>
<p>
    Example of possible inputs are buttons connected to GPIO pins that control outputs or printer events, temperature and humidity
    sensors, and filament sensors.
</p>
<form class="form-horizontal">
    <div data-bind="foreach: settingsViewModel.settings.plugins.enclosure.rpi_inputs">
        {{ text_control_group("label", _("Label"), "Name of Input") }}
        {% call radio_control_group("input_type", _("Input Type"), [("gpio", _("GPIO Input")), ("temperature_sensor", _("Temperature Sensor"))]) %}
            <div class="control-group">
                <div class="controls">
                    <span class="help-inline" data-bind="visible: input_type() == 'gpio'">
                        <span class="label label-info">Info:</span> GPIO will input status of the pin, HIGH / LOW </span>
                    <span class="help-inline"
                          data-bind="visible: input_type() == 'temperature_sensor'">
                        <span class="label label-info">Info:</span> Temperature Sensors will input temperature and humidity data.
                    </span>
                </div>
            </div>
        {% endcall %}
        <div data-bind="if: input_type() == 'temperature_sensor'">
            {% call select_control_group("temp_sensor_type", _("Sensor Type"), [
                ("", "Select Sensor"),
                ("11", "DHT11"),
                ("20", "DHT20"),
                ("22", "DHT22"),
                ("2302", "AM2302"),
                ("18b20", "DS18B20"),
                ("si7021", "SI7021"),
                ("bme280", "BME280"),
                ("bme680", "BME680"),
                ("am2320", "AM2320"),
                ("aht10", "AHT10"),
                ("tmp102", "TMP102"),
                ("max31855", "MAX31855"),
                ("rpi", "Raspberry Pi CPU"),
                ("mcp9808", "MCP9808"),
                ("temp_raw_i2c", "Raw I2C Temperature"),
                ("hum_raw_i2c", "Raw I2C Humidity"),
            ]) %}
                <span class="help-inline">
                    <span class="label label-important">Attention</span> You need to install and configure the necessary libraries for the temperature sensor, check
                    the documentation on
                    <a href="https://github.com/jacopotediosi/OctoPrint-Enclosure">github</a> page</span>
            {% endcall %}
            <div data-bind="if: temp_sensor_type() == 'temp_raw_i2c' || temp_sensor_type() == 'hum_raw_i2c'">
                {{ text_control_group("temp_i2c_bus", _("I2C Bus"), "This value should remain 1 unless you've used dtoverlay=i2c-gpio or you are using another bus.") }}
                {% call text_control_group("temp_i2c_address", _("I2C Address")) %}
                    <span class="help-inline">I2C address in HEX value, you can find it by running
                        <code>i2cdetect -y 1</code> on your Raspberry Pi</span>
                {% endcall %}
                {{ text_control_group("temp_i2c_register", _("I2C Register"), "I2C register in HEX value") }}
            </div>
            <div data-bind="if: temp_sensor_type() == '18b20'">
                {{ text_control_group("gpio_pin", _("Sensor Pin"), "GPIO pin for temperature sensor, recommended to use 4 as DS18B20 has default support to pin #4 (BCM)") }}
                {{ select_control_group("input_pull_resistor", _("Input Pull Resistor"), [("", "None"), ("input_pull_up", "Input Pullup")], "Whether to enable the built-in pullup for this temperature sensor. If set, then no external pullup is needed.") }}
                {{ text_control_group("ds18b20_serial", _("DS18B20 Serial"), "DS18B20 serial value, needs to be used to have support for multiple sensors, read documentation on github page for more information. The serial is typically in the form of 28-0123456789ab.") }}
            </div>
            <div data-bind="if: temp_sensor_type() == 'si7021' || temp_sensor_type() == '20' || temp_sensor_type() == 'bme280' || temp_sensor_type() == 'am2320' || temp_sensor_type() == 'aht10' || temp_sensor_type() == 'tmp102' || temp_sensor_type() == 'mcp9808'">
                <div class="control-group">
                    <label class="control-label">{{ _("Sensor Pin") }}</label>
                    <div class="controls">
                        <input type="text"
                               class="input-block-level"
                               value="SCL / SDA"
                               disabled="true">
                        <span class="help-inline">GPIO pin for temperature sensor need to connect the sensor to I2C. SCL Clock to GPIO 3 (SCL) and SDA Data to GPIO
                            2 (SDA)
                        </span>
                    </div>
                </div>
                {% call text_control_group("temp_sensor_address", _("Sensor Address")) %}
                    <span class="help-inline">Sensor address in HEX value, you can find it by running
                        <code>i2cdetect -y 1</code> on your Raspberry Pi</span>
                {% endcall %}
                {{ text_control_group("temp_sensor_i2cbus", _("i2c Bus"), "This value should remain 1 unless you've used dtoverlay=i2c-gpio.") }}
            </div>
            <div data-bind="if: temp_sensor_type() == 'max31855'">
                <div class="control-group">
                    <label class="control-label">{{ _("Sensor Pin") }}</label>
                    <div class="controls">
                        <input type="text"
                               class="input-block-level"
                               value="MISO / SCLK"
                               disabled="true">
                        <span class="help-inline">GPIO pin for temperature sensor need to connect the sensor to SPI. Serial Clock to GPIO 1 (SCLK) and Master In/Slave Out Data to GPIO
                            9 (MISO)
                        </span>
                    </div>
                </div>
                {{ select_control_group("temp_sensor_address", _("Sensor Address (CE Select)"), [("", "Select CE"), ("0", "CE0"), ("1", "CE1")], "CE select: CE0 on GPIO 8 or CE1 on GPIO 7") }}
            </div>
            <div data-bind="ifnot: temp_sensor_type() == 'rpi' || temp_sensor_type() == '18b20' || temp_sensor_type() == 'si7021' || temp_sensor_type() == 'bme280' || temp_sensor_type() == 'am2320' || temp_sensor_type() == 'tmp102' || temp_sensor_type() == 'max31855' || temp_sensor_type() == 'mcp9808' || temp_sensor_type() == 'temp_raw_i2c' || temp_sensor_type() == 'hum_raw_i2c'">
                {{ text_control_group("gpio_pin", _("Sensor Pin"), "GPIO pin for temperature sensor, recommended to use 4 as DS18B20 only works on pin 4") }}
            </div>
            {{ checkbox_control_group("use_fahrenheit", _("Use Fahrenheit Unit"), "Choose if you want to work with Celsius or Fahrenheit") }}
        </div>
        <div data-bind="if: input_type() == 'gpio'">
            {% call radio_control_group("action_type", _("Action Type"), [("output_control", _("Output Control")), ("printer_control", _("Printer"))]) %}
                <div class="control-group">
                    <div class="controls">
                        <span class="help-inline"
                              data-bind="visible: action_type() == 'printer_control'">
                            <span class="label label-info">Info:</span> PRINTER actions when a condition is met, that can be a filament sensor, button, etc. Actions can
                            be Pause \ Resume \ Cancel a printer_control job, change the filament or disable Temperature Control. You can
                            use the "change filament" action and set up the input GPIO according to your sensor, for example, if your filament
                            sensor connects to ground when detects the end of the filament, you should choose PULL UP resistors and detect
                        the event on the falling edge.</span>
                        <span class="help-inline"
                              data-bind="visible: action_type() == 'output_control'">
                            <span class="label label-info">Info:</span> Action will control GPIO outputs when a condition is met, for example detect a press of a button.
                            You can use this to control any previous configured OUTPUTS, basically being able to control your lights / fan
                            / printer using mechanical buttons buttons instead of the octoprint interface. You can only control REGULAR outputs.
                        </span>
                    </div>
                </div>
            {% endcall %}
            {{ text_control_group("gpio_pin", _("Input IO Number"), "Input GPIO that will detect the event that should trigger the action. For example if you have a filament sensor you put the GPIO pin that the sensor is connected. This can also be a press of a button or any other signal that you want to detect. You can not use GPIO 4 here if you are using temperature sensor DS18B20") }}
            {{ select_control_group("input_pull_resistor", _("Input Pull Resistor"), [("input_pull_up", "Input Pullup"), ("input_pull_down", "Input Pulldown")], "Choose what type of pull resistors that you want on the output. If your signal is active low, that means it should run the action when receive a low signal (ground), you should choose PULL UP resistors.") }}
            {{ select_control_group("edge", _("Event Trigger"), [("rise", "Rise"), ("fall", "Fall")], "Do you want to trigger the event on the rise or falling edge? If you signal is active low, that means it should run the action when it receives a low signal (ground), you should choose FALLING EDGE.") }}
            <div data-bind="if: action_type() == 'output_control'">
                {{ select_control_group("controlled_io", _("Controlled IO"), "$root.settings_possible_outputs", "When the event happens, do you want control of which OUTPUT?") }}
                <div data-bind="if: $root.isRegularOutput(controlled_io())">
                    {{ select_control_group("controlled_io_set_value", _("Set Controlled IO Value"), [("low", "Low"), ("high", "High"), ("toggle", "Toggle")], "When the event happens, do you want to turn the controlled IO HIGH or LOW?") }}
                </div>
            </div>
            <div data-bind="if: action_type() == 'printer_control'">
                {{ select_control_group("printer_action", _("Printer Action"), [
                    ("filament", "Filament Change"),
                    ("resume", "Printer Resume"),
                    ("pause", "Printer Pause"),
                    ("cancel", "Printer Cancel"),
                    ("start", "Start Print"),
                    ("toggle", "Printer Toggle (Connect / Pause / Resume)"),
                    ("toggle_job", "Job Toggle (Connect / Start / Cancel)"),
                    ("stop_temp_hum_control", "Stop Temperature Control"),
                ], "You can use filament change on your filament detectors and add buttons to resume and pause the print job.") }}
                <div data-bind="if: printer_action() == 'filament'">
                    {{ checkbox_control_group("filament_sensor_enabled", _("Enable"), "Enable and disable filament sensors") }}
                    {{ text_control_group("filament_sensor_timeout", _("Filament detection timeout"), "Time in seconds that filament sensor will be inactive after sensing end of filament. This is to avoid sending multiple commands to the printer.") }}
                </div>
            </div>
        </div>
        <div data-bind="if: input_type() == 'temperature_sensor'">
            {{ checkbox_control_group("temp_sensor_navbar", _("Show temperature on navbar"), "Enable and disable temperature on navbar") }}
            {% call checkbox_control_group("show_graph_temp", _("Show temperature in graph"), "Enable to show temperature in temperature graph, when a printer is connected.") %}
                <p data-bind="visible: show_graph_temp()"><i><strong>Note:</strong> This feature currently requires a custom graph plugin like <a href="https://github.com/jneilliii/OctoPrint-PlotlyTempGraph"
    target="_blank">PlotlyTempGraph</a></i></p>
            {% endcall %}
            {% call checkbox_control_group("show_graph_humidity", _("Show humidity in graph"), "Enable to show humidity in temperature graph, when a printer is connected.") %}
                <p data-bind="visible: show_graph_humidity()"><i><strong>Note:</strong> This feature currently requires a custom graph plugin like <a href="https://github.com/jneilliii/OctoPrint-PlotlyTempGraph"
    target="_blank">PlotlyTempGraph</a></i></p>
            {% endcall %}
        </div>
        <div class="control-group">
            <a title="Delete IO"
               class="btn btn-danger pull-right"
               data-bind="click: function() { $parent.removeRpiInput($data) }">
                <i class="icon-trash"></i>
            </a>
        </div>
        <div class="control-group">
            <div class="controls">
                <hr />
            </div>
        </div>
    </div>
    <div class="control-group">
        <button type="button"
                class="btn pull-right"
                data-bind="click: function() { $root.addRpiInput(); }">Add Inputs...</button>
    </div>
</form>
<form class="form-horizontal">
    <a href="#"
       class="muted"
       data-toggle="collapse"
       data-target="#advanced_enclosure">
        <i class="icon-caret-right"></i>
        Advanced options
    </a>
    <div id="advanced_enclosure"
         class="accordion-body collapse"
         data-bind="with: settingsViewModel.settings.plugins.enclosure">
        {{ checkbox_control_group("use_sudo", _("Use SUDO"), "Use sudo to run python commands.") }}
        {% call checkbox_control_group("gcode_control", _("Enable gcode control")) %}
            <span class="help-inline">Use gcode to control outputs, check the documentation on
                <a href="https://github.com/jacopotediosi/OctoPrint-Enclosure">github</a> page</span>
        {% endcall %}
        {{ text_control_group("neopixel_dma", _("Neopixel DMA Channel"), "DMA channel used on direct control of neopixel.") }}
        {{ checkbox_control_group("use_board_pin_number", _("Use Board Pin #"), "Use BOARD pin numbers instead of BCM pin numbers") }}
        <div class="control-group">
            <div class="controls">
                <button type="button"
                        class="btn"
                        data-bind="click: function() { $root.clearGPIOMode(); }">Clear GPIO Mode</button>
                <span class="help-inline">This will clear any GPIO configuration that might exist on your system, use with caution, it might break other
                plugins that use GPIO</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ _("Filament Change Gcode") }}</label>
            <div class="controls">
                <textarea rows="4" class="block" data-bind="value: filament_sensor_gcode"></textarea>
                <span class="help-inline">GCODE that will be sent to the printer to pause and allow filament to be changed. You should add
                    <code>ENTER</code> to the end of every line sent to the printer</span>
            </div>
        </div>
        {{ select_control_group("notification_provider", _("Notification Provider"), [("", "Disabled"), ("ifttt", "IFTTT")]) }}
        <div data-bind="if: notification_provider() == 'ifttt'">
            {{ text_control_group("notification_event_name", _("Event Name"), "Event name that was configured on the maker channel of IFTTT, don't use space between the words") }}
            {{ text_control_group("notification_api_key", _("IFTTT API KEY")) }}
            <div class="control-group" data-bind="foreach: notifications">
                {% for key, label in [
                    ("temperatureAction", _("Notify temperature actions")),
                    ("printer_action", _("Notify printer actions")),
                    ("gpioAction", _("Notify gpio actions")),
                    ("filamentChange", _("Notify filament change")),
                    ("printFinish", _("Notify finish prints")),
                ] %}
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" data-bind="checked: {{ key }}">
                            {{ label }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</form>
