<a href="#"
   title="Enclosure Temperatures"
   class="dropdown-toggle"
   data-toggle="dropdown"
   data-bind="visible: $root.navbar_temperature_sensors().length > 0 && $root.isUser()">
    <i class="fa fa-fire"></i>
    <b class="caret"></b>
</a>
<ul class="dropdown-menu"
    data-bind="foreach: $root.navbar_temperature_sensors()">
    <li>
        <a>
            <span data-bind="text: label"></span>
            <span>
                <span data-bind="text: temp_sensor_temp, attr: {title: temp_sensor_temp}"></span>
                <span class="add-on" data-bind="text: use_fahrenheit() ? '°F' : '°C'"></span>
            </span>
            <span data-bind="visible: $root.humidityCapableSensor(temp_sensor_type())">
                <span data-bind="text: temp_sensor_humidity, attr: {title: temp_sensor_humidity}"></span>
                <span class="add-on">%</span>
            </span>
        </a>
    </li>
</ul>
