<!-- <pre data-bind="text: ko.toJSON($root.rpi_outputs(), null, 2)"></pre> -->
<div class="row-fluid"
     data-bind="visible: $root.rpi_inputs_temperature_sensors().length > 0">
    <h4>Temperature</h4>
    <!-- <pre data-bind="text: ko.toJSON($root.rpi_inputs_temperature_sensors(), null, 2)"></pre> -->
    <table id="enclosure-table" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="temperature_sensor"></th>
                <th class="temperature_actual"
                    title="{{ _('Current actual temperature as reported by your sensor') }}">{{ _("Temperature") }}</th>
                <th class="humidity_actual"
                    title="{{ _('Current humidity') }}"
                    data-bind="visible: $root.hasAnySensorWithHumidity()">{{ _("Humidity") }}</th>
                <th class="temp_hum_control"
                    data-bind="visible: $root.hasAnyTemperatureControl()">{{ _("Control") }}</th>
                <th class="temperature_target"
                    title="{{ _('Current target temperature') }}"
                    data-bind="visible: $root.hasAnyTemperatureControl()">{{ _("Target") }}</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: $root.tab_temperature_table_rows()">
            <tr>
                <th class="temperature_sensor"
                    data-bind="visible: first, text: sensor.label, attr: {title: sensor.label, rowspan: rowspan}"></th>
                <td class="temperature_actual"
                    data-bind="visible: first, attr: {rowspan: rowspan}, with: sensor">
                    <span data-bind="text: temp_sensor_temp, attr: {title: temp_sensor_temp}"></span>
                    <span class="add-on" data-bind="text: use_fahrenheit() ? '°F' : '°C'"></span>
                </td>
                <td class="humidity_actual"
                    data-bind="visible: first && $root.humidityCapableSensor(sensor.temp_sensor_type()), attr: {rowspan: rowspan}, with: sensor">
                    <span data-bind="text: temp_sensor_humidity, attr: {title: temp_sensor_humidity}"></span>
                    <span class="add-on">%</span>
                </td>
                <td class="humidity_actual"
                    data-bind="visible: first && $root.hasAnySensorWithHumidity() && !$root.humidityCapableSensor(sensor.temp_sensor_type()), attr: {rowspan: rowspan}">N/A</td>
                <th class="temp_hum_control"
                    data-bind="visible: $root.hasAnyTemperatureControl(), text: control && control.label(), attr: {title: control && control.label()}">
                </th>
                <td class="temperature_target"
                    data-bind="visible: $root.hasAnyTemperatureControl(), with: control">
                    <form class="form-inline"
                          style="margin:0"
                          data-bind="submit: function(element) { $root.setTemperature($data, element) }">
                        <div class="input-append">
                            <input type="number"
                                   min="0"
                                   max="999"
                                   class="input-mini input-nospin"
                                   data-bind="enable: $root.isUser(), value: temp_ctr_new_set_value, valueUpdate: 'input', attr: {placeholder:$root.getCleanTemperature(temp_ctr_set_value()), id: 'temp_control_' + index_id()}">
                            <span class="add-on"
                                  data-bind="text: temp_ctr_type() == 'dehumidifier' ? '%' : ($parent.sensor.use_fahrenheit() ? '°F' : '°C')"></span>
                        </div>
                        <div class="btn-group">
                            <button type="submit"
                                    data-bind="enable: $root.isUser()"
                                    class="btn btn-primary"
                                    title="{{ _('Set') }}">
                                <i class="fa fa-check"></i>
                            </button>
                            <button type="button"
                                    class="btn btn-primary dropdown-toggle"
                                    data-toggle="dropdown"
                                    data-bind="enable: $root.isUser()">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#"
                                       data-bind="enable: $root.isUser(), click: $root.turnOffHeater">{{ _("Off") }}</a>
                                </li>
                            </ul>
                        </div>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div data-bind="foreach: $root.tab_outputs()">
    <div style="margin-bottom: 20px">
        <div data-bind="if: output_type() == 'regular'">
            <h4>
                <span data-bind="text: label"></span>
                <span class="badge">regular gpio</span>
                <span class="badge help-inline"
                      data-bind="text: gpio_status() ? 'on' : 'off', css: {'badge-success': gpio_status(), 'badge-important': !gpio_status()}"></span>
            </h4>
            <div>
                <button type="button"
                        data-bind="enable: $root.isUser(), click: $root.handleIO, text: gpio_status() ? 'Turn off' : 'Turn on'"
                        class="btn"></button>
            </div>
        </div>
        <div data-bind="if: output_type() == 'ledstrip'">
            <h4>
                <span data-bind="text: label"></span>
                <span class="badge">ledstrip</span>
            </h4>
            <div class="input-append ledstrip-div">
                <input type="color"
                       class="input-block-level"
                       data-bind="rgbColor: new_ledstrip_color, rgbColorPlaceholder: ledstrip_color">
                <button type="submit"
                        class="btn btn-input-inc"
                        title="Set Color"
                        data-bind="enable: $root.isUser(), click: $root.handleLedstripColor">
                    <i class="fa fa-check"></i>
                </button>
            </div>
        </div>
        <div data-bind="if: output_type() == 'gcode_output'">
            <h4>
                <span data-bind="text: label"></span>
                <span class="badge">gcode output</span>
            </h4>
            <div>
                <button type="button"
                        data-bind="enable: $root.isOperational(), click: $root.handleGcode"
                        class="btn">Send gcode</button>
            </div>
        </div>
        <div data-bind="if: output_type() == 'shell_output'">
            <h4>
                <span data-bind="text: label"></span>
                <span class="badge">Shell Script</span>
            </h4>
            <div>
                <button type="button"
                        data-bind="enable: $root.isUser(), click: $root.handleShellOutput"
                        class="btn">Execute Script</button>
            </div>
        </div>
        <div data-bind="if: output_type() == 'pwm'">
            <h4>
                <span data-bind="text: label"></span>
                <span class="badge">pwm</span>
            </h4>
            <div class="input-append">
                <input type="text"
                       class="input-mini"
                       data-bind="value: new_duty_cycle, valueUpdate: 'input', attr: {placeholder:$root.getDutyCycle(duty_cycle())}">
                <button type="button"
                        class="btn btn-input-inc"
                        data-bind="enable: $root.isUser() && !pwm_temperature_linked(), click: $root.handlePWM, attr: {title: pwm_temperature_linked() ? 'Temperature controlled PWM' : 'Set PWM'}">
                    <i class="fa fa-check"></i>
                </button>
            </div>
        </div>
        <div data-bind="if: output_type() == 'neopixel_direct' || output_type() == 'neopixel_indirect'">
            <h4>
                <span data-bind="text: label"></span>
                <span class="badge">neopixel</span>
            </h4>
            <div class="input-append neopixel-div">
                <input type="color"
                       class="input-block-level"
                       data-bind="rgbColor: new_neopixel_color, rgbColorPlaceholder: neopixel_color">
                <button type="submit"
                        class="btn btn-input-inc"
                        title="Set Color"
                        data-bind="enable: $root.isUser(), click: $root.handleNeopixel">
                    <i class="fa fa-check"></i>
                </button>
            </div>
        </div>
        <div data-bind="if: output_type() == 'temp_hum_control'">
            <h4>
                <span data-bind="text: label"></span>
                <span class="badge">temperature control</span>
                <span class="badge badge-warning"
                      data-bind="visible: temp_ctr_type() == 'heater'">Heater</span>
                <span class="badge badge-warning"
                      data-bind="visible: temp_ctr_type() == 'cooler'">Cooler</span>
                <span class="badge badge-warning"
                      data-bind="visible: temp_ctr_type() == 'dehumidifier'">Dehumidifier</span>
                <span class="badge help-inline"
                      data-bind="text: gpio_status() ? 'on' : 'off', css: {'badge-success': gpio_status(), 'badge-important': !gpio_status()}"></span>
            </h4>
        </div>
        <div data-bind="if: !(output_type() == 'pwm' && pwm_temperature_linked()) && !((output_type() == 'regular' || output_type() == 'pwm') && toggle_timer()) && !(output_type() == 'gcode_output' || output_type() == 'temperature_alarm' || output_type() == 'shell_output')">
            <h5 data-bind="if: $root.isUser()">
                <span>Auto Startup</span>
                <a href="#"
                   data-bind="click: $root.switchAutoStartUp, css: {'fa-toggle-on': auto_startup(), 'fa-toggle-off': !auto_startup()}, attr: {title: auto_startup() ? 'Disable Auto Startup' : 'Enable Auto Startup'}"
                   class="fa enclosure-link"></a>
            </h5>
            <h5 data-bind="if: $root.isUser()">
                <span>Auto Shutdown</span>
                <a href="#"
                   data-bind="click: $root.switchAutoShutdown, css: {'fa-toggle-on': auto_shutdown(), 'fa-toggle-off': !auto_shutdown()}, attr: {title: auto_shutdown() ? 'Disable Auto Shutdown' : 'Enable Auto Shutdown'}"
                   class="fa enclosure-link"></a>
            </h5>
            <span data-bind="visible: output_type() == 'temp_hum_control' && temp_ctr_type() == 'heater' && !auto_shutdown()">
                <span class="label label-important">Warning:</span>
                <span> Consider making
                    <b>heater</b> auto shutdown when print finish for safety reasons.</span>
            </span>
        </div>
        <h5 data-bind="visible: (output_type() == 'regular' || output_type() == 'pwm') && toggle_timer()">
            <span>Time Toggle</span>
            <span class="badge">active</span>
        </h5>
    </div>
</div>
<div data-bind="foreach: $root.tab_filament_sensors()">
    <h4>
        <span data-bind="text: label"></span>
        <span class="badge">filament sensor</span>
        <a href="#"
           data-bind="visible: $root.isUser(), click: $root.switchFilamentSensor, css: {'fa-toggle-on': filament_sensor_enabled(), 'fa-toggle-off': !filament_sensor_enabled()}, attr: {title: filament_sensor_enabled() ? 'Disable Filament Sensor' : 'Enable Filament Sensor'}"
           class="fa enclosure-link"></a>
    </h4>
</div>
