#enclosure-table {
    table-layout: fixed;
    width: 100%;
    margin-top: 20px;
}

#enclosure-table th,
#enclosure-table td {
    vertical-align: middle;
    text-align: center;
}


#enclosure-table th.temperature_sensor {
    width: 15%;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#enclosure-table th.temperature_actual,
#enclosure-table td.temperature_actual {
    width: 20%;
}

#enclosure-table th.humidity_actual,
#enclosure-table td.humidity_actual {
    width: 15%;
}

#enclosure-table th.temp_hum_control {
    width: 15%;
}

#enclosure-table th.temperature_target,
#enclosure-table td.temperature_target {
    width: 35%;
    overflow: visible;
}

.enclosure-link{
   text-decoration: none;
}

.enclosure-link:hover{
    text-decoration: none;
}

.ledstrip-div, .neopixel-div{
    width: 25%;
}
